@font-face { 
font-family: "SpecialElite"; 
src: url("SpecialElite-Regular.ttf"); 
}

.base-timer {
  position: relative;
  width: 33vw; 
  font-size: 180px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: gray;
  opacity:0.5;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
  opacity:0;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 37.5%;
  left: 37.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: SpecialElite;
  text-shadow: 1px 1px;
}
