__pycache__/
.vscode/
cameras/__pycache__/
data/videos/*
data/pictures/*
data/orginal_pictures/*
data/timelaps/*
data/*.csv
static/user.json
static/bootstrap-3.3.7-dist
static/bootstrap-4.1.3-dist
static/fontawesome-free-5.15.4-web
upload/login.json
workspace/env/
createEnv.txt
*.pptx
*.zip