opencv-python
numpy
Pillow
psutil
mega.py
# needs to be installed manualley
# tenacity==8.3.0 
ffmpeg-python
flask
GitPython
qrcode
# picamera2 install via apt python3-picamera2
win32printing
pygetwindow