{% extends "base.html" %}

{% from "_notification.html" import notification_css,notification_html,notification_js %}

{% block header %}
Es ist fertig
{% endblock %}

{% block styles %}
div.polaroid {
  background-color: rgba(220, 220, 220, 0.6);
  box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  margin-bottom: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 1%;
}
 
div.container {
  text-align: center;
  padding: 10px 20px;
}
/* https://www.w3schools.com/howto/howto_css_loader.asp */

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 240px;
  height: 240px;
  animation: spin 2s linear infinite;
  position: absolute;
  margin-left: 45%;
  margin-top:12%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

{{ notification_css() }}
{% endblock %}

{% block content %}
<div id='content' class="polaroid" > 
</div>
{% endblock %}

{% block script %}
<script>
//https://stackoverflow.com/questions/7071472/javascript-timeout-when-no-actions-from-user-for-specified-time

attachEvent(window,'load',function(){
  var idleSeconds = 120; //Idle time until back to start page
  var idleTimer;
  function resetTimer(){
    clearTimeout(idleTimer);
    idleTimer = setTimeout(whenUserIdle, idleSeconds*1000);
  }
  attachEvent(document.body,'mousemove',resetTimer);
  attachEvent(document.body,'keydown',resetTimer);
  attachEvent(document.body,'click',resetTimer);
  
  resetTimer(); // Start the timer when the page loads
});

function attachEvent(obj,evt,fnc,useCapture){
  if (obj.addEventListener){
    obj.addEventListener(evt,fnc,!!useCapture);
    return true;
  } else if (obj.attachEvent){
    return obj.attachEvent("on"+evt,fnc);
  }
}

function whenUserIdle(){
  location.href = '/';
}

//https://stackoverflow.com/questions/19869639/how-to-call-a-javascript-function-within-an-html-body/19869671
//https://www.w3schools.com/jsref/event_onload.asp
document.addEventListener("DOMContentLoaded", startUpFunction);
let modus = 0;

// video.addEventListener('loadeddata', function() {
//    // Video is loaded and can be played
//    picload();
// }, false);

function forced_load() {
  document.getElementById('picture').src = document.getElementById('picture').src + '?' + Date.now();  
}

async function startUpFunction(){
    var xhttp = new XMLHttpRequest();
    var jsonObj = null
    const response = await fetch("api/modus")
    if (response.ok) {
      const data = await response.json();
      modus = data.option
      const div = document.createElement('div');
      if(modus == 1 || modus == 2){
          div.innerHTML = `
              <style>
                a, a:hover, a:focus, a:active {
                  text-decoration: none;
                  color: inherit;
                }

                .text {
                  font-weight: bold;
                  font-size: 3vh;
                  font-family: "Lucida Console"
                }

                .image{
                  height: 15vh;
                  width: 10vw;
                }
                /* https://www.w3schools.com/css/css3_shadows_box.asp
                https://www.w3schools.com/howto/howto_css_rounded_images.asp */
                .image_button{
                  box-shadow:  0 4px 8px 0 grey, 0 6px 20px 0 grey;
                  border-radius: 8%;
                }
              </style>
              <div id="loader" style="float:left;">
                  <div class="loader"></div>
              </div>
              <div id="picture-frame" style="visibility: hidden;">
                <div  style="width:80%; margin-left:5%; margin-top: 1%;">
                    <img id="picture" onload="picload()" src="api/renderPicture" style="width:100%;height: 78vh; "/> 
                </div>
                <div class="text" style="width:15%; margin-left:85%; float:left; margin-top:-70vh;text-align: center;";>
                    <div id="load-spinner" style="position:relative; {% if not(settings['qrCode']['value']) %} display: none; {% endif %}">
                      <i class="fas fa-spinner fa-pulse fa-5x"></i>
                      <div style="height: 5vh;"></div>
                    </div>
                    <img id="qr-code" class="image" style="display: none;" onload="disableSpinner()"> 
                    <span id="qr-dwonload" style="display: none;">Download</span>
                    <a href="/picture">
                      <img class="image image_button"  data-scalestrategy="fit"  src="../static/pictures/kameraRetake.png"/> 
                      <span style="white-space: nowrap ;">Noch einmal</span>
                    </a>
                    <a href="#">
                      <img id="printing"  {% if not(settings['print_enable']['value']) %} style="display: none;" {% endif %}  class="image image_button" src="../static/pictures/print.png" onclick="printing()"/> 
                      <span id="print_text" style="white-space: nowrap ; {% if not(settings['print_enable']['value']) %} display: none;" {% endif %}">Druck mich</span>
                    </a>
                </div>
              </div>
        `;
      }
      else if (modus == 3){
        div.innerHTML = `
              <video id="video" controls autoplay>
                <source src="/api/renderVideo" type="video/mp4" style="width:80%; height: 78vh; margin-top: 1%;">
                Your browser does not support the video tag.
              </video>
              <img id="qr-code" style="width:10%; height: 18vh; "/> 
        `;
      }
      document.getElementById('content').appendChild(div); 
      if (modus == 1 || modus == 2) {
        forced_load();
      }
    };
}

function disableSpinner() {
  document.getElementById('load-spinner').style.display="none";
  document.getElementById('qr-code').style.display="inline";
  if({{settings['qrCode']['value']}}) {
    document.getElementById('qr-dwonload').style.display="inline";
  }
}

function printing(){
 console.log("printing Picture");
 var button = document.getElementById('printing')
 var text = document.getElementById('print_text')
 
 button.style.display = 'none';
 text.style.display = 'none';
 if({{settings['print_enable']['value']}}) {
    var disablePrintTimeout = 30000; 
    //reenable printer after timeout in ms 
    setTimeout( function(){
      button.style.display = 'inline';
      text.style.display = 'inline';
    },disablePrintTimeout)
 }
 var xhttp = new XMLHttpRequest();
  var jsonObj = null
  xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        jsonObj = JSON.parse(this.responseText);
        modus = jsonObj.option
      }
  };
  xhttp.open("POST", "print");
  xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xhttp.send(JSON.stringify({key:"picture", value:"last"}));
}

function picload(){
    document.getElementById("picture-frame").style.visibility = 'visible';
    document.getElementById("loader").style.display = 'none';
    document.getElementById("qr-code").src="api/getQRCode";
    if({{settings['print_auto']['value']}}) {
      printing();
    }
}
</script>

{{ notification_js() }}
{% endblock%}
