{% extends "base.html" %}


{% block header %}
Klappe und Action
{% endblock %}

{% block styles %}
div.polaroid {
  background-color: rgba(220, 220, 220, 0.6);
  box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  margin-bottom: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 1%;
}

div.container {
  text-align: center;
  padding: 5px 10px;
}

.img-container {
    width: 100%;
    height: 78vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cropped_img {
    position: absolute;
    width: 140%;
    height: 150%;
    transform: translate(-4%, -10%);
    margin-top: 1%;
}
.full_img {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  margin-top: 1%;
}


{% endblock %}

{% block script %}
<link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='countdown/countdown.css')}}"/>
<link rel="stylesheet"  type="text/css" href="../static/countdown/countdown.css"/>

<script>

let modus = 0;

async function startCapturing() {
    //get Status of status of server https://www.w3schools.com/js/js_ajax_http_send.asp
    const response = await fetch("api/modus")
    if (response.ok) {
      const data = await response.json();
      modus = data.option;
      await statemachine();
    };
}

let state = 'Init'
let fotoCount = 0

async function take_picture() {
  const config = {
    method: 'POST',
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json;charset=UTF-8',
    },
    body: JSON.stringify({option:"takePciture"})
  }
  const response = await fetch('api/controlCamera', config)
}

async function statemachine(){
    var done=false;
    const timeout = {{settings['countDown']['value']}}
    if (modus == 1) {
      // TODO {{settings['triggerDelay']['value']}}
      TIME_LIMIT = timeout 
      await countdown(timeout,0)
      onTimesUp()
      await take_picture()
      await delay(1000);

    } else if (modus == 2) {
      while(fotoCount < {{numberOfPictures}}){
        TIME_LIMIT = timeout 
        await countdown(timeout,0)
        onTimesUp()
        await take_picture()
        await delay(1000);
        fotoCount++;
      }
    } 
    // TODO modus  == 3
    window.location.href = "./download";
}

//-------------------------------------------
//Code for countdown
//-------------------------------------------
const FULL_DASH_ARRAY = 283;
const WARNING_THRESHOLD = 10;
const ALERT_THRESHOLD = 5;

const COLOR_CODES = {
  info: {
    color: "green"
  },
  warning: {
    color: "orange",
    threshold: WARNING_THRESHOLD
  },
  alert: {
    color: "red",
    threshold: ALERT_THRESHOLD
  }
};

let TIME_LIMIT = 5;
let timeLeft = TIME_LIMIT;
let timerInterval = null;
let remainingPathColor = COLOR_CODES.info.color;

function onTimesUp() {
  document.getElementById("base-timer-label").innerHTML = "Cheese";
  clearInterval(timerInterval);
  timerInterval = null;
}

const delay = ms => new Promise(res => setTimeout(res, ms));

// Start_time 10, end_time 5
async function countdown(start_time, end_time) {
    remainingPathColor = COLOR_CODES.info.color;
    document.getElementById("base-timer-label").innerHTML = formatTime(start_time - end_time);
    document.getElementById("base-timer-path-remaining").setAttribute("stroke-dasharray", FULL_DASH_ARRAY);
    document.getElementById("base-timer-path-remaining").classList.remove(COLOR_CODES.alert.color);
    document.getElementById("base-timer-path-remaining").classList.add(COLOR_CODES.info.color);
    // if(type == 'video'){
    //     document.getElementById("countdown").style.marginLeft="85%";
    //     document.getElementById("countdown").style.marginTop="1%";
    //     document.getElementById("base-timer").style.fontSize="4vw";
    //     document.getElementById("base-timer").style.width="12vw";
    //   }
    time_passed = 0
    while (start_time - time_passed > end_time) {
      await delay(1000);
      time_passed += 1;
      timeLeft = start_time - time_passed - end_time;
      setCircleDasharray();
      document.getElementById("base-timer-label").innerHTML = formatTime(timeLeft);
      setRemainingPathColor(timeLeft);
    }
}

function formatTime(time) {
  const minutes = Math.floor(time / 60);
  let seconds = time % 60;

  if (seconds < 10) {
    seconds = `0${seconds}`;
  }

  return `${minutes}:${seconds}`;
}

function setRemainingPathColor(timeLeft) {
  const { alert, warning, info } = COLOR_CODES;
  if (timeLeft <= alert.threshold) {
    document
      .getElementById("base-timer-path-remaining")
      .classList.remove(warning.color);
    document
      .getElementById("base-timer-path-remaining")
      .classList.add(alert.color);
  } else if (timeLeft <= warning.threshold) {
    document
      .getElementById("base-timer-path-remaining")
      .classList.remove(info.color);
    document
      .getElementById("base-timer-path-remaining")
      .classList.add(warning.color);
  }
}

function calculateTimeFraction() {
  const rawTimeFraction = timeLeft / TIME_LIMIT;
  return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
}

function setCircleDasharray() {
  const circleDasharray = `${(
    calculateTimeFraction() * FULL_DASH_ARRAY
  ).toFixed(0)} 283`;
  document
    .getElementById("base-timer-path-remaining")
    .setAttribute("stroke-dasharray", circleDasharray);
}

</script>
{% endblock%}

{% block content %}
<div onclick="startCapturing()" class="polaroid"> 
	<div id="countdown" style="float:left; position:absolute; margin-left:33%; margin-top:5%;font-family: sans-serif;z-index:1;">
        <div id="base-timer" class="base-timer">
          <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <g class="base-timer__circle">
              <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
              <path id="base-timer-path-remaining" stroke-dasharray="283" class="base-timer__path-remaining"
                d="
                  M 50, 50
                  m -45, 0
                  a 45,45 0 1,0 90,0
                  a 45,45 0 1,0 -90,0
                "
              ></path>
            </g>
          </svg>
          <span id="base-timer-label" class="base-timer__label">Klick mich</span>
        </div>
    </div>
    <!--<div id="countdown" style="float:left; position:absolute; margin-left:85%;margin-top:1%;font-family: sans-serif;"></div>-->
    <div class="img-container">
      <!-- {% if settings['previewCamera']['value'] == 0 %} class="full_img" {% else %} class="cropped_img" {% endif %} -->
      {% if (settings['previewCamera']['value']|int) == 3 %} 
      <img class="full_img" src="http://127.0.0.1:5002/{{ url_for('pageVideoFeed') }}" >  
      {% else %} 
      <img class="full_img" src="{{ url_for('pageVideoFeed') }}" > 
      {% endif %}
      
    </div>
    <div class="container">
    </div>
<div>
{% endblock %}

