{% extends "base.html" %}

{% from "_notification.html" import notification_css,notification_html,notification_js %}
{% from "_login.html" import login_css,login_html,login_js %}

{% macro create_settings(group) %}
{% for setting in settings %}
{% if settings[setting]['group'] == group %}
<div class="row" style="min-height: 4vw;">
  <div class="col-md-8">
    <label style="font-size:20px;" for="{{ setting }}">{{ settings[setting]['nameDE'] }}</label>
  </div>
  <div class="col-md-4">
    {% if settings[setting]['type'] == "input" %}
    <input style="font-size:20px;" size="4" id="{{ setting }}" placeholder="{{ settings[setting]['value'] }}"
      onchange="onChange('{{ setting }}')"></input>
    {% elif settings[setting]['type'] == "bool" %}
    <label class="switch">
      <input type="checkbox" {% if settings[setting]['value']==1 %} checked {% endif %}
        onchange="activateCheckbox(this, '{{ setting}}')">
      <span class="slider round"></span>
    </label>
    {% elif settings[setting]['type'] == "array" %}
    <select id="{{ setting }}" onchange="onChange('{{ setting }}')">
      {% for value in settings[setting]['values'] %}
      <option value="{{ loop.index0 }}" {% if (settings[setting]['value']|int)==loop.index0 %} selected {% endif %}>{{ value }}
      </option>
      {% endfor %}
    </select>
    {% endif %}
  </div>
</div>
{% endif %}
{% endfor %}
{% endmacro %}


{% macro create_upload() %}
{% for uploadFile in ["LayoutMulti.png", "LayoutSingle.png", "logo.png", "logo.ico", "background.png"] %}
<div class="row" style="margin-top: 10px;">
  <div class="col-md-8">
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label>{{uploadFile}}:</label>
      <input type="file" id="{{uploadFile}}" name="{{uploadFile}}">
      <input type="submit" style="display: none" id="sub_{{uploadFile}}">
    </form>
  </div>
  <div class="col-md-2">
    <img src="../static/pictures/custom_style/{{uploadFile}}" height="40vh" width="120vw">
  </div>
</div>
<script>
  document.getElementById('{{uploadFile}}').addEventListener('change', function () {
    var submitBtn = document.getElementById('sub_{{uploadFile}}');
    if (this.value) {
      submitBtn.style.display = 'inline';
    } else {
      submitBtn.style.display = 'none';
    }
  });
</script>
{% endfor %}
{% endmacro %}

{% block header %}
Einstellungen
{% endblock %}

{% block styles %}
input:onchange{
background-color: lightred;
}

/* Style the tab */
.tab {
overflow: hidden;
background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ccc;
}

button:disabled {
color: gray;
}

/* Style the tab content */
.tabcontent {
display: none;
border-top: none;
}

input:onchange{
background-color: lightred;
}

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

<!-- .imageContainer > img:hover {
    width: 50vw;
    height: 30vw;
  } -->

.popup {
position: relative;
display: inline-block;
cursor: pointer;
}
.popuptext {
visibility: hidden;
/* Other styling properties */
}
.show {
visibility: visible;
/* Add animation if desired */
}

.img-container {
  width: 1005;
  height: 78vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cropped_img {
    position: absolute;
    width: 140%;
    height: 150%;
    transform: translate(-4%, -10%);
    margin-top: 1%;
}
.full_img {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  margin-top: 1%;
}

{{ notification_css() }}
{{ login_css() }}
{% endblock %}

{% block script %}

{% if system == "Linux" %}
{{ check_wifi_js() }}

{{ login_html() }}

{{ login_js() }}

{% endif %}
<script>
  //This scritp is used for tab management
  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    if (!!evt) {
      evt.currentTarget.className += " active";
    }
  }


  //This scritp is used for settings page
  async function onChange(key) {
    element = document.getElementById(key);
    value = element.value;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        jsonObj = JSON.parse(this.responseText)
        var xhttpReq = new XMLHttpRequest();
        xhttpReq.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            jsonObj = JSON.parse(this.responseText)
            document.getElementById(key).value = jsonObj.value;
            if (key == "previewCamera") {
              scaleStreamImg()
            } 
          }
        }
        xhttpReq.open("GET", "api/setting?key=" + key, true);
        xhttpReq.send();
      }
    };
    xhttp.open("POST", "api/setting");
    xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-");
    xhttp.send(JSON.stringify({ 'key': key, 'value': value }));
  }

  async function RefreshFolderStatus() {
    const response = await fetch("status?folder={{ directory }}");
    if (response.ok && 200 == response.status) {
      const obj = await response.json();
      document.getElementById("number_timelaps_1").innerHTML = obj.timelaps;
      document.getElementById("number_timelaps_2").innerHTML = obj.timelaps;
      document.getElementById("number_picture").innerHTML = obj.pictures;
    }
  }
  RefreshFolderStatus();
  var timeout = setInterval(RefreshFolderStatus, 10000);

  //async function scaleStreamImg() {
  //  const response = await fetch("api/setting?key=previewCamera");
  //  if (response.ok && 200 == response.status) {
  //    const obj = await response.json();
  //    var element = document.getElementById("stream");
  //    console.log(obj.value)
  //    if (obj.value == 0) {
  //      if (element.classList.contains("cropped_img")) {
  //        element.classList.remove("cropped_img");
  //      }
  //      element.classList.add("full_img");
  //    } else {
  //      if (element.classList.contains("full_img")) {
  //        element.classList.remove("full_img");
  //      }
  //      element.classList.add("cropped_img");
  //    }
  //  }
  //}
  //scaleStreamImg();

  async function RefreshStatus() {
    const response = await fetch("status?timelaps");
    if (response.ok && 200 == response.status) {
      const obj = await response.json();
      document.getElementById("step").innerHTML = obj.step;
      document.getElementById("percent").style.width = obj.percent + "%";
      document.getElementById("run_time").innerHTML = obj.run_time;
    }
  }
  var update = setInterval(RefreshStatus, 5000);

  async function RefreshGitStatus() {
    const response = await fetch("status?git");
    if (response.ok && 200 == response.status) {
      const obj = await response.json();
      document.getElementById("version_number").innerHTML = obj.version;
      document.getElementById("version_date").innerHTML = obj.date;
      document.getElementById("version_summary").innerHTML = obj.summary;
    }
  }
  RefreshGitStatus();

  async function GetIpAddress() {
    const response = await fetch("wifi?ip");
    if (response.ok && 200 == response.status) {
      const obj = await response.json();
      document.getElementById("ip_address").innerHTML = obj.ip;
    }
  }
  GetIpAddress();

  //from https://www.w3schools.com/howto/howto_css_switch.asp
  function activateCheckbox(checkbox, key) {
    if (checkbox.checked == true) {
      value = 1;
    }
    else {
      value = 0;
    }

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        console.log("Done");
      }
    };
    xhttp.open("POST", "api/setting");
    xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-");
    xhttp.send(JSON.stringify({ 'key': key, 'value': value }));
  }

  function save() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        console.log("Done");
      }
    };
    xhttp.open("POST", "api/setting");
    xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-");
    xhttp.send(JSON.stringify('save'));
  }

  let zip_file_name = null;

  async function create_zip(button) {
    let button_inner = button.firstElementChild;
    let download = document.getElementById('download');
    download.style.display = 'none';
    button_inner.style.display = 'inline-block';
    button.disabled = true;
    const response = await fetch('/api/data?zip', { method: "GET", });
    button_inner.style.display = 'none';
    let data = await response.json();
    zip_file_name = data.file;
    button.disabled = false;
    download.onclick = function () { window.location.href = '/api/data?get=' + zip_file_name; };
    download.style.display = 'inline-block';
  }
</script>

<script defer>
  window.addEventListener("DOMContentLoaded", function () {
    openTab(null, "{{ active }}");
    document.getElementById("back_to_home").style.display = "none";
  });
</script>

<script>
  function backToHomePopup() {
    if (confirm("Zurück auf Startseite?\nWenn du nicht speichers hast, sind die Einstellungen beim nächsten Neustart weg.")) {
      window.open(".", "_self");
    }
  }
</script>
{{ notification_js() }}
{% endblock%}

{% block content %}
<!-- from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs-->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Camera')">Kamera Einstellungen</button>
  <button class="tablinks" onclick="openTab(event, 'Timelaps')">Timelaps</button>
  <button class="tablinks" onclick="openTab(event, 'Other')">Weitere Funktionen</button>
  <button class="tablinks" onclick="openTab(event, 'Data')">Daten</button>
  <button class="tablinks" onclick="openTab(event, 'Upload')">Hochloaden</button>
  <button class="tablinks" onclick="openTab(event, 'Update')">Update</button>
  <button onclick="backToHomePopup()" class="button"
    style="border: 2px solid #000000; display:flex; justify-content: center; align-items: center; margin-right: 8px; margin-top: 8px;width:100px; height:40px; float:right;">
    <span>Zurück</span>
  </button>
  <button onclick="save()" class="button"
    style="border: 2px solid #000000; display:flex; display:flex; justify-content: center; align-items: center; margin-right: 8px; margin-top: 8px; width:120px; height:40px; float:right;">
    <span>Speichern</span>
  </button>
</div>

<div id="Camera" class="tabcontent">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{ create_settings('camera') }}
      </div>
      <div class="col-md-2">
        <!-- divder-->
      </div>
      <div class="col-md-6">
        <div class="img-container">
          <!-- class="cropped_img" -->
            {% if (settings['previewCamera']['value']|int) == 3 %} 
            <img class="full_img" src="http://127.0.0.1:5002/{{ url_for('pageVideoFeed') }}" >  
            {% else %} 
            <img class="full_img" src="{{ url_for('pageVideoFeed') }}" > 
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Timelaps" class="tabcontent">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row" style="min-height: 3vw;">
          <div class="col-md-8">
            <label style="font-size:20px;">Anzahl Bilder</label>
          </div>
          <div class="col-md-4">
            <label style="font-size:20px;" id="number_timelaps_1"></label>
          </div>
        </div>
        {{ create_settings('timelaps') }}
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <h1 id='step'> Schritt </h1>
      </div>
      <div class="col-8">
        <div class="progress">
          <div id='percent' class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
          </div>
        </div>
      </div>
      <div class="col-2">
        <h1 id='run_time'> 0:0:0 </h1>
      </div>
    </div>
  </div>
</div>
</div>

<div id="Other" class="tabcontent">
  <div class="container">
    <div class="row">
      <div class="col-4">
        {{ create_settings('other') }}
      </div>
    </div>
  </div>
</div>

<div id="Data" class="tabcontent">
  <div class="container">
    <div class="row" style="min-height: 3vw;">
      <div class="col-md-2">
        <label style="font-size:20px;">Anzahl Bilder</label>
      </div>
      <div class="col-md-2">
        <label style="font-size:20px;font-weight:bold;" id="number_picture"></label>
      </div>
    </div>
    <div class="row" style="min-height: 3vw;">
      <div class="col-md-2">
        <label style="font-size:20px;">Anzahl Timelaps</label>
      </div>
      <div class="col-md-2">
        <label style="font-size:20px;font-weight:bold;" id="number_timelaps_2"></label>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <button class="button" onclick="create_zip(this)">
        <i style="display: none;" class="fa fa-spinner fa-spin"></i>Create ZIP File
      </button>
      <button style='display: none;' id='download' class="button">
        <i class="fa fa-download"></i> Download ZIP File
      </button>
    </div>
    <div class="row" style="margin-top: 10px;">
      <a href="/api/data?remove">
        <div class="button">
          <span>Remove all pictures</span>
        </div>
      </a>
    </div>
  </div>
</div>

<div id="Update" class="tabcontent">
  <div class="container">
    <div class="row" style="margin-top: 10px;">
      <a href="/api/update?update">
        <div class="button">
          <span>Update</span>
        </div>
      </a>
    </div>
    <div class="row" style="margin-top: 10px;">
      <a href="/api/update?reboot">
        <div class="button">
          <span>Reboot System</span>
        </div>
      </a>
    </div>
    <div class="row" style="margin-top: 10px;">
      <a href="/api/kill">
        <div class="button">
          <span>End</span>
        </div>
      </a>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-2">
        <label style="font-size:20px;">Version</label>
      </div>
      <div class="col-md-4">
        <p class="text-left" style="font-size:20px;" id="version_number"></label>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-2">
        <label style="font-size:20px;">Date</label>
      </div>
      <div class="col-md-8">
        <p class="text-left" style="font-size:20px;" id="version_date"></label>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-2">
        <label style="font-size:20px;">Summary</label>
      </div>
      <div class="col-md-8">
        <p class="text-left" style="font-size:20px;" id="version_summary"></label>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-2">
        <label style="font-size:20px;">Ip Address</label>
      </div>
      <div class="col-md-8">
        <p class="text-left" style="font-size:20px;" id="ip_address"></label>
      </div>
    </div>
  </div>
</div>

<iframe name="hiddenFrame" style="position:absolute; top:-1px; left:-1px; width:1px; height:1px;"></iframe>

<div id="Upload" class="tabcontent">
  <div class="container">
    {{ create_upload() }}
  </div>
</div>

{% endblock %}