{% extends "base.html" %}

{% from "_notification.html" import notification_css,notification_html,notification_js %}

{% macro create_settings(group) %}
{% for setting in settings %}
{% if settings[setting]['group'] ==  group %}
<div class="row" style="min-height: 4vw;">
  <div class="col-md-8">
    <label style="font-size:20px;" for="{{ setting }}">{{ settings[setting]['nameDE'] }}</label>
  </div>
  <div class="col-md-4">
    {% if settings[setting]['type'] == "input" %}
    <input style="font-size:20px;" size="4" id="{{ setting}}" placeholder="{{ settings[setting]['value'] }}" onchange="onChange('{{ setting }}')" ></input>
    {% elif settings[setting]['type'] == "bool" %}
    <label class="switch">
      <input type="checkbox" {% if settings[setting]['value'] == 1%} checked {% endif %} onchange="activateCheckbox(this, '{{ setting}}')">
      <span class="slider round"></span>
    </label>
    {% elif settings[setting]['type'] == "array" %}
    <select name="plan" id="{{ setting }}" onchange="onChange('{{ setting }}')" ready="initElement('{{ setting }}', 2)">
      {% for value in settings[setting]['values'] %}
      <option value="{{ loop.index0 }}" {% if settings[setting]['value'] == loop.index0%} selected {% endif %}>{{ value }}</option>
      {% endfor %}
    </select>
    {% endif %}
  </div>
</div>
{% endif %}
{% endfor %}
{% endmacro %}


{% macro create_upload() %}
{% for uploadFile in ["LayoutMulti.png", "LayoutSingle.png", "logo.png", "logo.ico", "background.png"] %}
<div class="row" style="margin-top: 10px;">
  <div class="col-md-8">
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label>{{uploadFile}}:</label>
      <input type="file" id="myFile" name="{{uploadFile}}">
      <input type="submit">
    </form>
  </div>
  <div class="col-md-2">
    <img src="../static/pictures/{{uploadFile}}" height="40vh" width="120vw"> 
  </div>
</div>
{% endfor %}
{% endmacro %}

{% block header %}
Einstellungen
{% endblock %}

{% block styles %}
input:onchange{
background-color: lightred;
}
  
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

input:onchange{
  background-color: lightred;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  <!-- .imageContainer > img:hover {
    width: 50vw;
    height: 30vw;
  } -->

  {{ notification_css() }}

{% endblock %}

{% block script %}
<script>
//This scritp is used for tab management
function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}


//This scritp is used for settings page
function onChange(key){
  element = document.getElementById(key); 
  value = element.value; 
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      jsonObj = JSON.parse(this.responseText)
      ret = jsonObj.return
      var xhttpReq = new XMLHttpRequest();
      xhttpReq.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          jsonObj = JSON.parse(this.responseText)
          document.getElementById(key).value = jsonObj.value; 
        }
      }
      xhttpReq.open("GET", "api/setting?key="+key, true);
      xhttpReq.send();
    }
  };
  xhttp.open("POST", "api/setting");
  xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-");
  xhttp.send(JSON.stringify({'key':key, 'value':value}));
}

//This scritp is used for update timelapse
// document.addEventListener("DOMContentLoaded", loadPage);
loadPage();
var timeout = setInterval(loadPage, 5000);    

function loadPage(){
  // var tab = document.getElementById("Timelaps");
  // if (tab.style.display == "block") {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        const obj = JSON.parse(this.responseText);
        document.getElementById("number_timelaps_1").innerHTML = obj.timelaps;
        document.getElementById("number_timelaps_2").innerHTML = obj.timelaps;
        document.getElementById("number_picture").innerHTML = obj.pictures;
      }
    };
    xhttp.open("GET", "status?folder={{ directory }}");
    xhttp.send();
  // }
}

//from https://www.w3schools.com/howto/howto_css_switch.asp
function activateCheckbox(checkbox, key) {
  if(checkbox.checked == true){
    value=1;
    console.log("checked");
  }
  else{
    value=0;
    console.log("unchecked");
  }

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      console.log("Done");
    }
  };
  xhttp.open("POST", "api/setting");
  xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-");
  xhttp.send(JSON.stringify({'key':key, 'value':value}));
}

function save() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      console.log("Done");
    }
  };
  xhttp.open("POST", "api/setting");
  xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-");
  xhttp.send(JSON.stringify('save'));
}
</script>
{{ notification_js() }}
{% endblock%}

{% block content %}
  <!-- from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs-->
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Camera')">Kamera Einstellungen</button>
    <button class="tablinks" onclick="openTab(event, 'Timelaps')">Timelaps</button>
    <button class="tablinks" onclick="openTab(event, 'Other')">Anderes</button>
    <button class="tablinks" onclick="openTab(event, 'Data')">Daten</button>
    <button class="tablinks" onclick="openTab(event, 'Upload')">Hochloaden</button>
    <button class="tablinks" onclick="openTab(event, 'Update')">Update</button>
    <a href=" " onclick="save()">
      <div class="button" style="margin-right: 8px; margin-top: 8px; width:100px; height:40px; float:right;">
        <span>Save</span>
      </div>
    </a>
  </div>
  
  <div id="Camera" class="tabcontent">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          {{ create_settings('camera') }}
        </div>
        <div class="col-md-2">
          <!-- divder-->
        </div>
        <div class="col-md-6">
          <img src="{{ url_for('pageVideoFeed') }}" style="width:100%; height: 78vh;"> 
        </div>
      </div>
    </div>
  </div>
  
  <div id="Timelaps" class="tabcontent">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="row" style="min-height: 3vw;">
            <div class="col-md-8">
              <label style="font-size:20px;">Anzahl Bilder</label>
            </div>
            <div class="col-md-4">
              <label style="font-size:20px;" id="number_timelaps_1"></label>
            </div>
          </div>
          {{ create_settings('timelaps') }}
        </div>
      </div>
    </div>
  </div>

  <div id="Other" class="tabcontent">
    <div class="container">
      <div class="row">
        {{ create_settings('other') }}
      </div>
    </div>
  </div>

  <div id="Data" class="tabcontent">
    <div class="container">
      <div class="row" style="min-height: 3vw;">
        <div class="col-md-8">
          <label style="font-size:20px;">Anzahl Timelaps</label>
        </div>
        <div class="col-md-4">
          <label style="font-size:20px;" id="number_timelaps_2"></label>
        </div>
      </div>
      <div class="row" style="min-height: 3vw;">
        <div class="col-md-8">
          <label style="font-size:20px;">Anzahl Bilder</label>
        </div>
        <div class="col-md-4">
          <label style="font-size:20px;" id="number_picture"></label>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <a href="/api/data?get">
          <div class="button">
            <span>Download ZIP File</span>
          </div>
        </a>
      </div>
      <div class="row" style="margin-top: 10px;">
        <a href="/api/data?remove">
          <div class="button">
            <span>Remove all pictures</span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div id="Update" class="tabcontent">
    <div class="container">
      <div class="row" style="margin-top: 10px;">
        <a href="/api/update?update">
          <div class="button">
            <span>Update</span>
          </div>
        </a>
      </div>
      <div class="row" style="margin-top: 10px;">
        <a href="/api/update?reboot">
          <div class="button">
            <span>Reboot</span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <iframe name="hiddenFrame" style="position:absolute; top:-1px; left:-1px; width:1px; height:1px;"></iframe>

  <div id="Upload" class="tabcontent">
    <div class="container">
      {{ create_upload() }}
    </div>
  </div>
  
{% endblock %}