{% extends "base.html" %}

{% block header %}
Viel Spaß beim feiern und fotografieren
{% endblock %}

{% block content %}
<div style="width:276px;height:276px;overflow:hidden; margin:0 auto;">
    <a href="settings" style="text-decoration: none; "> 
        <img role="presentation" src="../static/pictures/logo.png" style="display:block;margin:0" height="276" width="276" data-width="276" data-height="276">
    </a>
</div>

<a href="options" style="text-decoration: none; "> 
    <div style="margin:0 auto;margin-top:34px;width:580px;height:68px;">
            <div class="button" style="width:513px;height:68px;float:left" id="kamera">
                <span >Hier klicken, um Fotospaß zu starten!</span>
            </div>
            <div style="width:45px;height:45px;margin-left:6px;margin-top:6px;float:left">
                <img src="../static/pictures/kamera.png" style="height:100%;opacity:1" />
            </div>
    </div>
</a>

<a href="gallery" style="text-decoration: none; "> 
    <div style="margin:0 auto;margin-top:34px;width:580px;height:68px;">
            <div class="button" style="width:513px;height:68px;float:left " id="gallery">
                <span >Hier geht´s zur Galerie</span>
            </div>
            <div style="width:45px;height:45px;margin-left:6px;margin-top:6px;float:left">
                <img src="../static/pictures/gallery.png" style="height:100%;opacity:1" />
            </div>
    </div>
</a>
{% endblock %}